header {
  background-color: var(--color-bg);
  max-width: 1800px;
  z-index: 2;
}

header .logoImg {
  fill: var(--color-accent);
  font-size: 3rem;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: -1px;
  color: var(--color-text);
}

header input,
header button {
  border-color: var(--color-gray);
  background-color: transparent;
}

header button {
  background-color: var(--color-trans);
  border-left: none !important;
}

header button svg {
  fill: var(--color-text);
}

header input::placeholder {
  color: var(--color-place);
}
header input {
  color: var(--color-text);
}

.mode svg {
  fill: var(--color-accent);
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    flex-direction: column;
  }

  .form {
    width: 100%;
    position: relative;
    transform: inherit;
    top: 0;
    left: 0;
  }

  .mode-wrapper {
    position: absolute;
    top: 1.4rem;
    right: 0;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    flex-direction: column;
  }

  .form {
    width: 100%;
    position: relative;
    transform: inherit;
    top: 0;
    left: 0;
  }

  .mode-wrapper {
    position: absolute;
    top: 1.4rem;
    right: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav {
    flex-direction: column;
  }

  .form {
    width: 100%;
    position: relative;
    transform: inherit;
    top: 0;
    left: 0;
  }

  .mode-wrapper {
    position: absolute;
    top: 1.4rem;
    right: 0;
  }
}
