header {
  background-color: var(--color-bg);
  max-width: 1800px;
  z-index: 2;
}

header .logoImg {
  fill: var(--color-accent);
  font-size: 3rem;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: -1px;
  color: var(--color-text);
}

header input,
header button {
  border-color: var(--color-gray);
  background-color: transparent;
}

header button {
  background-color: var(--color-trans);
  border-left: none !important;
}

header button svg {
  fill: var(--color-text);
}

header input::placeholder {
  color: var(--color-place);
}
header input {
  color: var(--color-text);
}

.mode svg {
  fill: var(--color-accent);
}
